@use './variables' as * ;

/* width */
::-webkit-scrollbar {
    width: 10px;
    z-index: 999;

  }

  /* Track */
  ::-webkit-scrollbar-track {
    background-color: $dark-color;

  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $brand-color;
    border-radius: 10px;
  }


.nav-log{
    background-color: #051C2C;
    height: 100px;
    margin-bottom: 50px;
}
.header-admin{
    height: 60px;
    background-color: $dark-color !important;
        a:hover,
        button:hover{
            color: $brand-color !important;
        }
        .user{
            color: $light-color;
        }
        li{
            a{
                &:hover{
                    color: $brand-color !important;
                }
            }
        }
        .drop-auth{
            color: $dark-color !important;

        }
}

li{
    a{
        text-decoration: none;
        color: lightgrey !important;
        font-weight: bold !important;
    }

}

.main{
    width: 100% ;
    height: calc(100vh - 60px);
    overflow-y: auto;
    overflow-x: hidden;
    background-color: white;

    .toSearch{
        border-color: lightgray;
        &:focus{
        box-shadow: none !important;
        }
    }


}

h1{
    color: $brand-color;
}

.house-image{
    height: 200px;
    object-fit: cover;
}

.truncate-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 350px;
    display: block;
}

.logo{
    width: 150px;
}


h3{
    color: $dark-color;
}

.icone{
    width: 30px;
    display: inline-block;
    text-align: center;
}



.tools{
    width: 40px;
    background-color: rgba(234, 234, 234, .7);
    backdrop-filter: blur(5px) ;
    position: fixed;
    right: 10px;
    top: 50%;
    border-radius: 7px 0 0 7px  ;
    i{
        color: $dark-color;
        &.fa-pen-to-square:hover{
            color: #ffc107;
        }
        &.fa-rocket:hover{
            color: #198754;
        }
        &.fa-chart-simple:hover{
            color: #6c757d;
        }
        &.fa-trash-can:hover{
            color: #dc3545;
        }
        &.fa-arrow-right-from-bracket:hover{
            color: #0dcaf0
        }

    }
    button{
        border: none;
        background-color: transparent;
    }

}

