@use './variables' as * ;
.nav-log{
    background-color: #051C2C;
    height: 100px;
    margin-bottom: 50px;
}
.header-admin{
    height: 60px;
    background-color: $dark-color !important;
    .user{
        color: $brand-color;
    }
}

li{
    a{
        text-decoration: none;
        color: lightgrey !important;
        font-weight: bold !important;
    }
    &:hover a{
        color: $brand-color!important;
    }
}

.main{
    width: calc(100% - 200px);
    height: calc(100vh - 60px);
    overflow-y: auto;
    overflow-x: hidden;
    background-color: white;
    .toSearch{
        border-color: lightgray;
        &:focus{
        box-shadow: none !important;
        }
    }

    .show{
        border: 1px solid #051C2C;
    }
}

h1{
    color: $brand-color;
}

.house-image{
    height: 200px;
    object-fit: cover;
}

.truncate-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 350px;
    display: block;
}

.logo{
    width: 100px;
}
