@use './variables.scss' as *;

.login-register{
    background-color: $shadow-color;
}

.log-container{
    .card-header{
        background-color: $dark-color;
        h4{color:$shadow-color}
    }


    .login-register{
        color: #333 !important;
    }
    .btn-log{
        background-color: $brand-color;
        color: white;
        &:hover{
            background-color:rgba(157, 6, 26, 0.5) ;
        }
    }
}
