@use './variables' as *;
.col-sponsor {
    position : relative;
    width : 1100px;
    display : flex;
    align-items : center;
    justify-content : center;
    flex-wrap : wrap;
    padding : 30px;
  }

.card-sponsor {
    position: relative;
    max-width : 300px;
    height :  320px;
    background-color : #fff;
    margin : 30px 10px;
    padding : 20px 15px;

    display : flex;
    flex-direction : column;
    box-shadow : 0 5px 20px rgba(0,0,0,0.2);
    border-radius : 15px;
    cursor: pointer;
  }




  .col-sponsor .card-sponsor .title {
    font-weight: bold;
    font-size: 2rem;
    position : relative;
    width : 260px;
    height : 260px;
    top : -40px;
    left: 0px;
    box-shadow : 0 5px 20px rgba(0,0,0,0.2);
    z-index : 1;
    border-radius : 15px;
    color: $dark-color;

  }

  .col-sponsor .card:hover .title{
    font-size: 3rem;
    top : -140px;
    font-size: 3rem;
  }


  .col-sponsor .card-sponsor .content {
    position : relative;
    top : -10px;
    padding : 10px 15px;
    color : #111;
    text-align : center;
  }


  .silver{
    background-color: #C0C0C0;

  }

  .gold{
    background-color: #cda434;

  }

  .platinum{
    background-color: #e5e4e2;

  }

  .btn-sponsor{
    background-color: rgb(51, 153, 74) !important;
    color: $light-color !important;
    &:hover{
        background-color: rgb(44, 132, 65) !important;
    }
  }
